<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
<div class="paragraph">
<p>The page you&#8217;re looking for does not exist. It may have been moved.</p>
</div>
<div class="paragraph">
<p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
</div>
{{else}}
{{#with page.title}}
<h1 class="page gbm">{{{this}}}</h1>
{{/with}}
<div class="gbm-page-attribute">
    {{#with page.attributes.author}}{{{this}}}{{/with}}
    {{#with page.attributes.email}}{{{this}}}{{/with}}
    {{#with page.attributes.date}}{{{this}}}{{/with}}
</div>
{{{page.contents}}}
{{/if}}
{{#with page.keywords}}
<div class="tags">
    <span>Tags: </span>{{{this}}} 
</div>
{{/with}}
{{#with site.keys.googleAnalytics}}
<div class="ads-article">
<!-- gbmartins - horizontal - footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8039638094395141"
     data-ad-slot="2961831104"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{{/with}}
</article>
