<footer class="footer gbm">
  <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
  Except where noted, the content on this site is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  Creative Commons Attribution 4.0 International (CC-BY 4.0) License</a>.
  This page was built using the <a href="https://antora.org/">Antora</a>
  and based on <a href="https://gitlab.com/antora/antora-ui-default">Antora UI</a>.
</footer>
