<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}/blog/0.1/index.html">Welcome</a>
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}/blog/0.1/about.html">About</a>
          </div>
        </div>
        <a class="navbar-item" href="https://twitter.com/GersonMartins" target="_blank" rel="noopener">
          <span class="icon">
            <i class="fab fa-twitter fa-lg" ></i>
          </span>
        </a>
        <a class="navbar-item" href="https://github.com/gersonmartins" target="_blank" rel="noopener">
          <span class="icon">
            <i class="fab fa-github fa-lg"></i>
          </span>
        </a>
        <a class="navbar-item" href="https://www.linkedin.com/in/gersonbarizon/" target="_blank" rel="noopener">
          <span class="icon">
            <i class="fab fa-linkedin-in fa-lg"></i>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
