    {{#with site.keys.googleAnalytics}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
    <script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
    <script data-ad-client="ca-pub-8039638094395141" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{/with}}
