<aside class="toc sidebar" data-title="{{or page.attributes.toctitle 'Contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
  {{#with site.keys.googleAnalytics}}
  <div class="toc-ads" style="visibility: hidden;">

  <!-- gbmartins - square - menu - desktop -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8039638094395141"
      data-ad-slot="8409598907"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>
  {{/with}}
</aside>
