.gbm-page-attribute {
  color: var(--page-attr-color);
  font-size: calc(14 / var(--rem-base) * 1rem);
  font-style: var(--page-attr-font-style);
  line-height: var(--page-attr-line-height);
  margin: 0 0 1.5rem 0;
}

.doc > h1.page.gbm:first-child {
  font-size: calc(36 / var(--rem-base) * 1rem);
  margin: 1.5rem 0 0;
}

.doc .tags {
  font-size: calc(12 / var(--rem-base) * 1rem);
  margin: 1.5rem 0 0;
  font-style: var(--tags-font-style);
  line-height: var(--tags-line-height);
  border-top: 1px solid var(--section-divider-color);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.4rem 1rem 0.1rem;
}

.doc .tags > span {
  font-weight: var(--body-font-weight-bold);
}

.toc-ads {
  margin: 1.5rem 0 0 0;
}

.ads-article {
  margin: 1.5rem 0 0 0;
}

/* Footer */
footer.footer.gbm {
  --footer-line-height: 1.3;

  background-color: var(--color-jet-50);
  color: var(--color-gray-10);
  font-size: calc(12 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 0.5rem;
}

.footer.gbm p {
  margin: 0.5rem 0;
}

.footer.gbm a {
  color: var(--color-white);
}

.footer.gbm img {
  vertical-align: middle;
}
